{{ if gt .Site.RegularPages 0}}
{{"<!-- Start Careers  Section -->" | safeHTML}}
<section id="careers" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2>{{ with i18n "careersTitle" }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
						{{ with i18n "careersTitle" }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range first 3 (where .Site.RegularPages "Section" "==" "careers")}}
			{{ .Render "positon"}}
			{{ end }}

			<div class="all-post text-center col-lg-12">
				<a class="btn btn-main"
					href="{{ `careers` | absLangURL }}">{{ i18n "viewAllPositions" }}</a>
			</div>
		</div>
	</div>
</section>
{{"<!-- /careers -->" | safeHTML}}
{{ end }}
